__pycache__/
/dev/
/blender_export/
/debug/
/setup/*.whl
/SHOP/
/WIP/

/resources/debug/
/resources/editor/*.pkl

MidtownMadness/commandline.txt
MidtownMadness/crashes
MidtownMadness/screen
MidtownMadness/*.log
MidtownMadness/!*.ar
MidtownMadness/!*.cfg
MidtownMadness/MM.LOCK
MidtownMadness/dev/
MidtownMadness/shiplist.!*