*.BNG
/dev/
/WIP/
/SHOP/
/NoTrack/
/__pycache__/
/Polygon Export/
/Waypoint Export/
/Resources/Debug/
/Resources/EditorResources/*.pkl

MidtownMadness/commandline.txt
MidtownMadness/crashes
MidtownMadness/screen
MidtownMadness/*.log
MidtownMadness/!*.ar
MidtownMadness/!*.cfg
MidtownMadness/MM.LOCK
MidtownMadness/dev/
MidtownMadness/shiplist.!*