*.pkl
*.BNG
/dev/
/WIP/
/SHOP/
/Blender Export/

MidtownMadness/commandline.txt
MidtownMadness/crashes
MidtownMadness/screen
MidtownMadness/*.log
MidtownMadness/!*.ar
MidtownMadness/!*.cfg
MidtownMadness/dev/
MidtownMadness/shiplist.!*